version: "3.7"
services:
  app:
    build:
      args:
        user: yourname
        uid: 1000
      context: ./
      dockerfile: Dockerfile
    image: todolist
    container_name: todolist-app
    environment:
      - DB_HOST=db
    restart: unless-stopped
    working_dir: /var/www/
    volumes:
      - ./:/var/www
    networks:
      - todolist-network

  db:
    image: mysql:8.0
    container_name: todolist-db
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      # MYSQL_PASSWORD: ${DB_PASSWORD}
      # MYSQL_USER: ${DB_USERNAME}
      SERVICE_TAGS: dev
      SERVICE_NAME: mysql
    volumes:
      - ./docker-compose/mysql:/docker-entrypoint-initdb.d
    networks:
      - todolist-network

  nginx:
    image: nginx:alpine
    container_name: todolist-nginx
    restart: unless-stopped
    ports:
      - 8000:80
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d/
    networks:
      - todolist-network

networks:
  todolist-network:
    driver: bridge
